.feedback {
}

.button {
  width: 100px;
  padding: 10px;
  background-color: rgba(218, 91, 97, 0.87);
  cursor: pointer;
  border: none;
}

.button:not(:last-child) {
  margin-right: 15px;
  background-color: rgba(209, 205, 205, 0.87);
}

.button:first-child {
  background-color: rgb(163, 236, 145);
}

.button:hover,
.button:focus {
  transform: scale(90%, 90%);
}
